<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

<main class="accordions">
    <div class="card card-header">
        <div class="buttons">
            <label><input type="checkbox" id="open-graph"> Graph</label>
        </div>
    </div>
    <div id="graphAccordion" class="accordion">
        <div class="card">
            <a href="#collapseGraph" class="card-header" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseGraph">{{graph_label}}</a>
            <div id="collapseGraph" class="collapse" data-parent="#graphAccordion">
                <div class="card-body acordion-container">
                    <div id="user-graph-container" class="graph-container"></div>
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <button id="fullscreen-btn-student" class="btn btn-primary">Fullscreen Graph</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>